<% include ./partials/header %>

<h1>Projects Page</h1>

<% projects.forEach(function(project){ %>
     <div>
       <img src="<%= project.image %>">
       <p><%= project.techList %></p>
       <a href="/projects/<%= project._id %>">More Info</a>
     </div>
<% }) %>

<% include ./partials/footer %>