<% include ./partials/header %>

<h1>Projects Page</h1>

<% projects.forEach(function(project){ %>
     <div>
       <img src="<%= project.image %>">
       <p> <%= project.techList %> </p>
     </div>
<% }) %>

<% include ./partials/footer %>